/*
 *
 * This stylesheet is used only when the maximum width of the browser is 549 pixels
 *
 */

body {
    font-family: Roboto, serif;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
 *
 * Common
 *
 */

.box {
    box-shadow: 0 2px 5px rgba(47, 79, 79, 0.41);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 1em;
}

/*
 *
 * Header
 *
 */

.header {
    min-height: 48px;
    transition: min-height 0.3s;
}

.header_inner {
    display: flex;
}

.logo_wrapper {
    width: 90px;
}

.header_logo {
    width: 100%;
    height: 100%;
}

.header_user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.header_title {
    margin: 0;
    text-align: right;
    font-weight: 200;
    font-size: 1.80em;
}

.header_subtitle {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: right;
    font-weight: 200;
    font-size: 0.90em;
}

/*
 *
 * Main
 *
 */

.main_image_wrapper {
    height: 200px;
    overflow: hidden;
}

.main_image {
    height: 100%;
}

/*
 *
 * Content
 *
 */

.featured_work_title {
    font-weight: 400;
    font-size: 1em;
    color: #2d3c49;
    margin: 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 1.5em;
}

.list_item {
    width: 100%;
    padding: 1%;
}

.list_item_wrapper {
    position: relative;
    width: 100%;
    padding-top: 2%;
}

.list_item_image {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 0;
    transition: .5s ease;
}

.list_item_wrapper:hover .overlay {
    height: 98%;
}

.project_description {
    color: white;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    text-justify: inter-word;
}

.project_title {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    color: #2d3c49;
}

.button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
    min-width: 48px;
    min-height: 48px;
    width: 80%;
    background: #02b3e4;
    text-align: center;
    line-height: 48px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.button:hover {
    background: #17c8d8;
}

.button:active {
    background: #02a0c0;
}